.search-page {
  margin-top: 75px;
  position: relative;
  max-width: 1000px;
  margin: auto;
  left: 0;
  right: 0;
  padding: 0 10px 0 0;
  min-height: 100vh;
}

.search-form-holder {
  position: relative;
  margin-top: 80px;
}

.search-form {
  background-color: #eff9f4;
}

.search-field-holder {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  margin: 0px 10px;
}

.search-label {
  display: block;
  text-align: center;
  font-family: "schluber", "Archivo Narrow", sans-serif;
  font-size: 1.5em;
  margin-bottom: 15px;
  padding-top: 30px;
}

.search-field-holder * {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1em;
}

.search-field-holder button {
  margin: 0;
  font-size: 1.7em;
}

.search-results {
  position: relative;
  margin-top: 50px;
  padding: 0px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.artist {
  display: block;
  position: relative;
  height: fit-content;
  order: 2;
}

.artist .tear {
  position: absolute;
  z-index: 10;
  left: 10px;
  top: -14px;
  width: 40%;
  max-width: 160px;
}

.artist.active .expanded-card {
  display: none;
}

.artist.inactive {
  width: 45%;
}

.artist.inactive .tear {
  left: 0;
  top: 0;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  max-width: 100%;
  transition-duration: 250ms;
}

.artist.inactive .tear:hover,
.artist.inactive .tear:focus {
  transform: scale(1.1);
}

@media only screen and (min-width: 500px) {
  .search-form-holder {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 60px;
    max-width: 982px;
    margin: auto;
  }

  .search-label {
    font-size: 1.8em;
    margin-bottom: 15px;
    padding-left: 10px;
  }

  .search-field-holder {
    flex-flow: row wrap;
  }

  .reward-input,
  .experience-input,
  .search-field-holder button {
    width: 31%;
    height: 100%;
    margin: 0;
  }

  .search-results {
    position: relative;
    margin-top: 275px;
  }

  .artist.inactive {
    width: 30%;
  }

  .artist.active {
    max-width: 65%;
  }
}

@media only screen and (min-width: 750px) {
  .search-label {
    text-align: left;
    font-family: "schluber", "Archivo Narrow", sans-serif;
    font-size: 2em;
    margin-bottom: 15px;
    padding-left: 10px;
  }

  .search-field-holder {
    flex-flow: nowrap;
  }

  .discipline-input {
    width: 350px;
  }

  .search-field-holder button {
    width: 150px;
    height: 100%;
    margin-left: 5px;
  }

  .reward-input,
  .experience-input {
    margin: 0 5px;
  }

  .discipline-input {
    margin-right: 5px;
  }

  .search-results {
    position: relative;
    margin-top: 225px;
  }

  .artist .tear {
    max-width: 160px;
  }

  .artist.inactive {
    width: 18%;
  }

  .artist.active {
    max-width: 50%;
  }

  .artist.active .card-left {
    width: 100%;
  }
}
