.tear {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
}

.prong {
  width: 50%;
  height: 50%;
  content: "";
  position: absolute;
}

.tear img {
  position: relative;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  z-index: 10;
}

.tear-background {
  border-radius: 50%;
  height: 95%;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 5;
}
